#bannerHome {
  padding: 6rem 0;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: $color-secundary;

  h1 {
    color: #0d1024
  }

  .img-destaque {
    img {
      height: 640px;
      object-fit: cover;
      object-position: top;
    }
  }
}

@media (max-width: 767px) {
  #bannerHome {
    height: auto;

    .img-destaque {
      img {
        height: 400px;
        object-fit: cover;
        object-position: top;
      }
    }

  }
}